<!doctype html>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Middleman" %></title>

  <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href="stylesheets/site.css" rel="stylesheet" />
</head>

<body class="<%= page_classes %>">

  <%= yield %>

  <script src="javascripts/all.js"></script>
  <script src="javascripts/demo.js"></script>
  <script src="javascripts/vendors/sass.sync.js"></script>
  <script src="javascripts/vendors/prism.js"></script>
  <script src="javascripts/vendors/codeflask.js"></script>
  <script src="javascripts/vendors/holmes.js"></script>
</body>

<script>
holmes({
  input: '.sbx-custom__input',
  find: '.row.mixin'
});

var familyScss = `@mixin first($num) { @if $num == 1 { &:first-child { @content; } } @else { &:nth-child(-n + #{$num}) { @content; } } } @mixin last($num) { &:nth-last-child(-n + #{$num}) { @content; } } @mixin after-first($num) { &:nth-child(n+#{$num + 1}) { @content } } @mixin from-end($num) { &:nth-last-child(#{$num}) { @content } } @mixin between($first,$last) { &:nth-child(n+#{$first}):nth-child(-n+#{$last}) { @content } } @mixin even-between($first,$last) { &:nth-child(even):nth-child(n + #{$first}):nth-child(-n + #{$last}) { @content } } @mixin odd-between($first,$last) { &:nth-child(odd):nth-child(n + #{$first}):nth-child(-n + #{$last}) { @content } } @mixin n-between($num,$first,$last) { &:nth-child(#{$num}n):nth-child(n + #{$first}):nth-child(-n + #{$last}) { @content } } @mixin all-but($num) { &:not(:nth-child(#{$num})) { @content } } @mixin each($num) { &:nth-child(#{$num}n) { @content } }@mixin every($num) { @include each($num) { @content } } @mixin from-first-last($num) { &:nth-child(#{$num}), &:nth-last-child(#{$num}) { @content } } @mixin middle($num) { &:nth-child(#{round($num/2)}){ @content } } @mixin all-but-first-last($num) { &:nth-child(n+#{$num}):nth-last-child(n+#{$num}){ @content } } @mixin first-of($limit) { &:nth-last-child(#{$limit}):first-child { @content } } @mixin last-of($limit) { &:nth-of-type(#{$limit}):nth-last-of-type(1){ @content } } @mixin at-least($num) { $selector: &; $child: nth(nth($selector, -1), -1); &:nth-last-child(n + #{$num}), &:nth-last-child(n + #{$num}) ~ #{$child} { @content; } } @mixin at-most($num) { $selector: &; $child: nth(nth($selector, -1), -1); &:nth-last-child(-n + #{$num}):first-child, &:nth-last-child(-n + #{$num}):first-child ~ #{$child} { @content; } } @mixin in-between($min, $max) { $selector: &; $child: nth(nth($selector, -1), -1); &:nth-last-child(n + #{$min}):nth-last-child(-n + #{$max}):first-child, &:nth-last-child(n + #{$min}):nth-last-child(-n + #{$max}):first-child ~ #{$child} { @content; } } @mixin first-child() { &:first-of-type { @content } } @mixin last-child() { &:last-of-type { @content } } @mixin even(){ &:nth-child(even) { @content } } @mixin odd(){ &:nth-child(odd) { @content } } @mixin first-last() { &:first-child, &:last-child { @content } } @mixin unique() { &:only-child { @content } } @mixin not-unique() { &:not(:only-child) { @content } } @mixin only() { @include unique(){ @content } } @mixin child-index($num, $direction: 'forward', $index: 0) { @for $i from 1 through $num { @if $direction == 'forward' { &:nth-child(#{$i}) { z-index: orderIndex($i, $index, $direction); @content; } } @if $direction == 'backward' { &:nth-last-child(#{$i}) { z-index: orderIndex($i, $index, $direction); @content; } } } } @function orderIndex($i, $index, $direction){ @if $direction == 'forward' { $i:$index + $i; } @else { $i:$index - $i; } @return $i }`;
var flask = new CodeFlask;
flask.run('#sass', {
 language: 'css'
});

var sassPanel = document.querySelector('#sass');
var scss = sassPanel.textContent;

var codebloc = document.querySelector('.CodeFlask__textarea');
var prebloc = document.querySelector('.CodeFlask__pre code');
var exVal = codebloc.value.replace(/^\s*|\s*$/g,'');
codebloc.value = exVal;
prebloc.innerHTML = exVal;

Sass.compile(familyScss+scss, function(result) {
  var css = result.text;
  if (css) {
    document.querySelector('#css').innerHTML = css;
    Prism.highlightElement( document.querySelector('#css'));

  } else {
    document.querySelector('#css').innerHTML = 'Not valid Sass'
  }
});
// flask.update(playground);
flask.onUpdate(function(code) {
  var sassPanel = document.querySelector('#sass');
  var scss = sassPanel.textContent;

  Sass.compile(familyScss+scss, function(result) {
    document.querySelector('#css').innerHTML = result.text
    Prism.highlightAll();
  });


  Prism.highlightElement(sassPanel);
  var scss = sassPanel.textContent;
});

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42634383-7', 'auto');
  ga('send', 'pageview');

</script>
</html>
