.btn {
  background: $al-pink-dark;
  color: #fff;
  border: 1px solid $al-pink-light;
  height: 40px;
  max-width: 140px;
  line-height: 40px;
  padding: 0 1em;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: background 0.1s ease;
  cursor: pointer;
  outline: none;

  &.w-icon {
    padding-left: 48px !important;
    position: relative;

    &:hover:not(.btn-blue) {
      svg use {
        fill: rgba(white, 0.8);
      }
    }
  }

  svg {
    position: absolute;
    width: 38px;
    height: 46px;
    left: 6px;
    top: 60%;
    transform: translateY(-50%);

    use {
      fill: rgba(black, 0.5);
      transition: fill 0.3s ease;
    }
  }

  &:hover,
  &:active {
    background: $al-pink-light
  }

  &.cta {
    margin: auto 8px;
    float: none;
    display: block;
    display: inline;
    padding: 16px 32px;
  }

  // colors
  &-blue{
    background: $al-blue-dark;
    border-color: $al-blue-mezzo-light;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    max-width: inherit;

    &:hover {
      background: lighten($al-blue-mezzo-dark, 5%)
    }
    &:active {
     background: lighten($al-blue-mezzo-dark, 10%)
    }

    svg use {
      fill: #fff;
    }
  }

  &-full {
    width: 100%;
    max-width: 100%;
  }
}

// Fix icons for firefox
_:-moz-tree-row(hover), .btn svg {
  transform: none;
  top: 8px;
}
_:-moz-tree-row(hover), .btn-blue svg {
  top: 0;
}