.footer-section {
  background: $al-black;
  color: #fff;
  position: relative;

  p {
    position: relative;
    z-index: 10;

    a {
      color: $al-blue-light;
      text-decoration: none;
      font-weight: bold;

    }
  }

  &:after {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      background-image: url("../images/icon-family.svg");
      background-repeat: no-repeat;
      background-position: bottom 16px left 42px;
      background-size: 100px;
      mix-blend-mode: luminosity;
    }
}