.playground {
  background: $al-black;

  @media (max-width: 780px) {
    display: none;
  }

  .row.editor {
    max-width: 960px;
  }


  header {
    padding: 2em 0;
    width: 100%;
    float: left;


    h2 {
      font-size: 2.5em;
      color: $al-blue-light;
      border-bottom: none;
      text-transform: uppercase
    }
  }

  .code-bloc {
    // background: #202d5c;
    margin-bottom: 1em;

    pre.half {
      position: relative;
      max-width: calc(50% - 8px);
      margin-right: 8px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      min-height: 500px;
      max-height: 600px;
    }
    pre code {
      padding-bottom: 1em;
      tab-size: 1em;
    }

    .btn  {
      margin-top: 1em;
      float: left;
      position: absolute;
      max-width: 200px;
      bottom: 1em;
      right: 1em;
      font-family: 'OpenSans200', helvetica, sans-serif;
      font-weight: bold;
    }
  }
}

::-webkit-scrollbar {
    display: none;
}