.search-section {
  background: $al-blue-dark;


  .sbx-custom {
    appearance: none;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 51px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 18px;
  }

  .sbx-custom__wrapper {
    width: 100%;
    height: 100%;
  }

  .sbx-custom__input {
    display: inline-block;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px rgba(white, 0.5);
    background: $al-blue-dark;
    padding: 0;
    padding-right: 41px;
    padding-left: 51px;
    width: calc(100% - 41px - 51px);
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    appearance: none;
    color: #fff
  }

  .sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
    display: none;
  }

  .sbx-custom__input:hover {
    box-shadow: inset 0 0 0 2px $al-blue-mezzo-light;
  }

  .sbx-custom__input:focus, .sbx-custom__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 2px $al-blue-light;
    background: $al-blue-dark;
  }

  .sbx-custom__input::placeholder {
    color: #BBBBBB;
  }

  .sbx-custom__submit {
    position: absolute;
    top: 0;
    right: inherit;
    left: 0;
    margin: 0;
    border: 0;
    border-radius: 25px 0 0 25px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 51px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    user-select: none;
  }

  .sbx-custom__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  .sbx-custom__submit:hover, .sbx-custom__submit:active {
    cursor: pointer;
  }

  .sbx-custom__submit:focus {
    outline: 0;
  }

  .sbx-custom__submit svg {
    width: 31px;
    height: 31px;
    vertical-align: middle;
    fill: #fff
  }

  .sbx-custom__reset {
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    user-select: none;
    fill: #fff;
  }

  .sbx-custom__reset:focus {
    outline: 0;
  }

  .sbx-custom__reset svg {
    display: block;
    margin: 4px;
    width: 19px;
    height: 19px;
  }

  .sbx-custom__input:valid ~ .sbx-custom__reset {
    display: block;
    animation-name: sbx-reset-in;
    animation-duration: .15s;
  }

  @keyframes sbx-reset-in {
    0% {
      transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
}
