.about-section
	.modal-backdrop
	.modal#about
		%a{:href => "javascript:void(0)", :id => "close"}
			%svg{'aria-label' => "Reset", :role => "img"}
				%use{'xlink:href' => "#icon-close", 'xmlns:xlink' =>"http://www.w3.org/1999/xlink"}
		%header
			%h2 About :

		%p This project is a small library of Sass mixins, created by <a href="http://twitter.com/lukyvj">@LukyVj</a> on his spare time.
		%p You can find the header pattern generator on <a href="http://codepen.io/LukyVj/pen/xOxYLm">codepen</a>
		%header
			%h2 Thanks to :
		%p My colleagues from <a href="http://algolia.com"><span class="icon icon-algolia-light">Algolia</span></a> and my bros from <a href="http://bullg.it">bullgit</a> for their feedback.

		%p This page was made possible because of some awesome projects & scripts :

		%ul
			%li
				%a{:href => "http://prismjs.com/", :class => ""} Prism.js
			%li
				%a{:href => "http://shipow.github.io/searchbox/", :class => ""} Searchbox
			%li
				%a{:href => "https://kazzkiq.github.io/CodeFlask.js/", :class => ""} codeFlask.js
			%li
				%a{:href => "https://github.com/medialize/sass.js/", :class => ""} Sass.js
			%li
				%a{:href => "https://github.com/Haroenv/holmes", :class => ""} holmes.js