
%section.demo-container
  %div{:class => "doc"}
    %section.arguments
      .row
        %header
          %h2.title With Arguments
      .row.mixin
        %header
          %h3 first
        %pre
          %code
            :preserve
              <span class="param"> @include</span> first(<span class="num" contenteditable id="first">3</span>)

        %ul.first
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 last
        %pre
          %code
            :preserve
              <span class="param"> @include</span> last(<span class="num" contenteditable id="last">3</span>)

        %ul.last
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 after-first
        %pre
          %code
            :preserve
              <span class="param"> @include</span> after-first(<span class="num" contenteditable id="after-first">5</span>)

        %ul.after-first
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 from-end
        %pre
          %code
            :preserve
              <span class="param"> @include</span> from-end(<span class="num" contenteditable id="from-end">3</span>)

        %ul.from-end
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 between
        %pre
          %code#between <span class="param">@include</span> between(<span class="num" contenteditable id="between-a">3</span>, <span class="num" contenteditable id="between-b">6</span>)

        %ul.between
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 even-between
        %pre
          %code#even-between <span class="param">@include</span> even-between(<span class="num" contenteditable id="even-between-a">3</span>, <span class="num" contenteditable id="even-between-b">12</span>)

        %ul.even-between
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10
          %li 11
          %li 12
          %li 13
          %li 14
          %li 15

      %div.row.mixin
        %header
          %h3 odd-between
        %pre
          %code#odd-between <span class="param">@include</span> odd-between(<span class="num" contenteditable id="odd-between-a">3</span>, <span class="num" contenteditable id="odd-between-b">13</span>)

        %ul.odd-between
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10
          %li 11
          %li 12
          %li 13
          %li 14
          %li 15

      %div.row.mixin
        %header
          %h3 n-between
        %pre
          %code#n-between
            :preserve
              <span class="param">@include</span> n-between(<span class="num" contenteditable id="n-between-a">3</span>,<span class="num" contenteditable id="n-between-b">3</span>,<span class="num" contenteditable id="n-between-c">13</span>)
              <span class="comment"> // This mixin uses 3 arguments, the first one is equal to N item,
               // the second is the starting item and the third the end item.  </span>

        %ul.n-between
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10
          %li 11
          %li 12
          %li 13
          %li 14
          %li 15

      %div.row.mixin
        %header
          %h3 all-but
        %pre
          %code
            :preserve
              <span class="param"> @include</span> all-but(<span class="num" contenteditable id="all-but">3</span>)

        %ul.all-but
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 each
        %pre
          %code#each
            :preserve
              <span class="param"> @include</span> each(<span class="num" contenteditable id="each-every">3</span>,<span class="num" contenteditable id="each-from">0</span>)
              <span class="comment"> // This mixin uses 2 arguments, the first one is equal to N item,
               // the second is the starting item and can be omitted, the default value is 0.  </span>

              <span class="param"> @include</span> every(<span class="num">3</span>, <span class="num">1</span>)
              <span class="comment"> // Alias of each(), but the starting item defaults to 1.</span>

        %ul.each
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      -# %div.row.mixin
      -#   %header
      -#     %h3 each-after
      -#   %pre
      -#     %code#each-after
      -#       :preserve
      -#         <span class="param"> @include</span> each-after(<span class="num" contenteditable id="each-after-a">3</span>,<span class="num" contenteditable id="each-after-b">6</span>)

      -#   %ul.each-after
      -#     %li 1
      -#     %li 2
      -#     %li 3
      -#     %li 4
      -#     %li 5
      -#     %li 6
      -#     %li 7
      -#     %li 8
      -#     %li 9
      -#     %li 10
      -#     %li 11
      -#     %li 12
      -#     %li 13
      -#     %li 14
      -#     %li 15
      -#     %li 16
      -#     %li 17
      -#     %li 18
      -#     %li 19
      -#     %li 20

      %div.row.mixin
        %header
          %h3 from-first-last
        %pre
          %code
            :preserve
              <span class="param"> @include</span> from-first-last(<span class="num" contenteditable id="from-first-last">2</span>)

        %ul.from-first-last
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 middle
        %pre
          %code
            :preserve
              <span class="param"> @include</span> middle(<span class="num" contenteditable id="middle">11</span>)

        %ul.middle
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10
          %li 11

      %div.row.mixin
        %header
          %h3 all-but-first-last
        %pre
          %code
            :preserve
              <span class="param"> @include</span> all-but-first-last(<span class="num" contenteditable id="all-but-first-last">2</span>)

        %ul.all-but-first-last
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10
          %li 11
    %section.exact-matching
      .row
        %header
          %h2.title Quantity queries
      %div.row.mixin
        %header
          %h3 first-of
        %pre
          %code
            :preserve
              <span class="param"> @include</span> first-of(<span class="num" contenteditable id="first-of">10</span>)

        %ul.first-of
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 last-of
        %pre
          %code
            :preserve
              <span class="param"> @include</span> last-of(<span class="num" contenteditable id="last-of">10</span>)

        %ul.last-of
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10


      %div.row.mixin
        %header
          %h3 at-least
        %pre
          %code
            :preserve
              <span class="param"> @include</span> at-least(<span class="num" contenteditable id="at-least">5</span>)

        %ul.at-least
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10


      %div.row.mixin
        %header
          %h3 at-most
        %pre
          %code
            :preserve
              <span class="param"> @include</span> at-most(<span class="num" contenteditable id="at-most">5</span>)

        %ul.at-most
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5

      %div.row.mixin
        %header
          %h3 in-between
        %pre
          %code#in-between
            :preserve
              <span class="param"> @include</span> in-between(<span class="num" contenteditable id="in-between-a">5</span>, <span class="num" contenteditable id="in-between-b">10</span>)

        %ul.in-between
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10



    %section.no-arguments
      .row
        %header
          %h2.title Without arguments
      %div.row.mixin
        %header
          %h3 first-child
        %pre
          %code
            :preserve
              <span class="param"> @include</span> first-child()

        %ul.first-child
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 last-child
        %pre
          %code
            :preserve
              <span class="param"> @include</span> last-child()

        %ul.last-child
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10


      %div.row.mixin
        %header
          %h3 even
        %pre
          %code
            :preserve
              <span class="param"> @include</span> even()

        %ul.even
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 odd
        %pre
          %code
            :preserve
              <span class="param"> @include</span> odd()

        %ul.odd
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 first-last
        %pre
          %code
            :preserve
              <span class="param"> @include</span> first-last()

        %ul.first-last
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10

      %div.row.mixin
        %header
          %h3 unique
        %pre
          %code
            :preserve
              <span class="param"> @include</span> unique()

        %ul.unique
          %li 1

      %div.row.mixin
        %header
          %h3 not-unique
        %pre
          %code
            :preserve
              <span class="param"> @include</span> not-unique()

        %ul.not-unique
          %li 1



    %section.using-functions
      .row
        %header
          %h2.title Using functions

      %div.row.mixin
        %header
          %h3 child-index()

          %p Apply an ordered <code>z-index</code> over each child.
        %pre
          %code
            :preserve
              <span class="comment"> // Basic usage</span>
              <span class="param"> @include</span> child-index(<span class="num">10</span>); <span class="comment">// equivalent of @include child-index(10, <span class="num" id="demo-index">forward</span>, 0)</span>

              <span class="comment"> // This mixin can take up to 3 arguments : </span>
              <span class="comment"> // $num : Number of child to index </span>
              <span class="comment"> // $direction : Direction of the indexing [ forward / backward ] </span>
              <span class="comment"> // $index : Base indexing number [1, 10, 20 => 1, 2, 3; 11, 12, 13; 21, 22, 23 ]</span>
              <span class="param"> @include</span> child-index(<span class="num no-edit">5</span>, <span class="num no-edit">backward</span>, <span class="num no-edit">10</span>);

        %ul.child-index{'data-controls' => "order"}
          %li 1
          %li 2
          %li 3
          %li 4
          %li 5
          %li 6
          %li 7
          %li 8
          %li 9
          %li 10