%section.footer-section
	%p.text-center Made with &lt;code&gt;by <a href="http://twitter.com/LukyVj">@LukyVj</a> - <a href="#about" data-toggle-modal>About</a>
	-# %p from <span class="icon icon-algolia-light">Algolia</span>