%header
  %div{:id => "pattern"}

  %section.hero-container
    %h1 Family.scss
    -# %h3 by <span class="icon icon-algolia-light">Algolia</span>
    %p <strong>Family.scss</strong> is a set of <strong><span id="amount"></span></strong> smart Sass mixins which will help you to manage the style of <code>:nth-child</code>'ified elements, in an easy and classy way.
    %a{ :href => "https://github.com/LukyVj/family.scss", :class => "btn cta w-icon"} <svg aria-label="Reset" role="img"><use xlink:href="#icon-download" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> Download ( 2kb )
    %a{ :href => "https://github.com/LukyVj/family.scss", :class => "btn cta w-icon"} <svg aria-label="Reset" role="img"><use xlink:href="#icon-github" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>  Github

- ['first', 'last', 'after-first', 'from-end', 'between','pair-between','impair-between', 'all-but', 'each', 'from-first-last', 'middle', 'all-but-first-last', 'first-of', 'last-of', 'n-of', 'child-index'].each do |i|
  %style{:id => "style-"+i}