%section.introduction
  %p The goal of this project is to unleash the power of the nth-child property, in an easy way
  %p The better way to understand each and every mixin, is to read it, literally.
  %p for example :  first(3) => first three