%section.playground
  %header
    %h2.title Playground

  %div.row.editor
    %div.code-bloc
      .bloc
        %div{:id => "sass", 'data-language' => "css"}
          :preserve
            @mixin active {
              background: red;
              color: #fff;
            }
            /*=====================
               first(3)
            =====================*/
            ul li {
              @include first(3){
                @include active;
              }
            }

            /*=====================
               last(3)
            =====================*/
            ul li {
              @include last(3){
                @include active;
              }
            }

            /*=====================
               after-first(5)
            =====================*/
            ul li {
              @include after-first(5){
                @include active;
              }
            }

            /*=====================
               from-end(3)
            =====================*/
            ul li {
              @include from-end(3){
                @include active;
              }
            }

            /*=====================
               between(3, 6)
            =====================*/
            ul li {
              @include between(3, 6){
                @include active;
              }
            }

            /*=====================
               even-between(3, 12)
            =====================*/
            ul li {
              @include even-between(3, 12){
                @include active;
              }
            }

            /*=====================
               odd-between(3, 13)
            =====================*/
            ul li {
              @include odd-between(3, 13){
                @include active;
              }
            }

            /*=====================
               n-between(3, 10, 20)
            =====================*/
            ul li {
              @include n-between(3, 10, 20){
                @include active;
              }
            }

            /*=====================
               all-but(3)
            =====================*/
            ul li {
              @include all-but(3){
                @include active;
              }
            }

            /*=====================
               each(3)
            =====================*/
            ul li {
              @include each(3){
                @include active;
              }
            }

            /*=====================
               every(3)
            =====================*/
            ul li {
              @include every(3){
                @include active;
              }
            }

            /*=====================
               from-first-last(2)
            =====================*/
            ul li {
              @include from-first-last(2){
                @include active;
              }
            }

            /*=====================
               middle(11)
            =====================*/
            ul li {
              @include middle(11){
                @include active;
              }
            }

            /*=====================
               all-but-first-last(2)
            =====================*/
            ul li {
              @include all-but-first-last(2){
                @include active;
              }
            }

            /*=====================
               first-of(10)
            =====================*/
            ul li {
              @include first-of(10){
                @include active;
              }
            }

            /*=====================
               last-of(10)
            =====================*/
            ul li {
              @include last-of(10){
                @include active;
              }
            }

            /*=====================
               at-least(10)
            =====================*/
            ul li {
              @include at-least(10){
                @include active;
              }
            }

            /*=====================
               at-most(10)
            =====================*/
            ul li {
              @include at-most(10){
                @include active;
              }
            }

            /*=====================
               in-between(5, 10)
            =====================*/
            ul li {
              @include in-between(5, 10){
                @include active;
              }
            }

            /*=====================
               even()
            =====================*/
            ul li {
              @include even(){
                @include active;
              }
            }

            /*=====================
               odd()
            =====================*/
            ul li {
              @include odd(){
                @include active;
              }
            }

            /*=====================
               first-last()
            =====================*/
            ul li {
              @include first-last(){
                @include active;
              }
            }

            /*=====================
               unique()
            =====================*/
            ul li {
              @include unique(){
                @include active;
              }
            }

            /*=====================
               not-unique()
            =====================*/
            ul li {
              @include not-unique(){
                @include active;
              }
            }

            /*=====================
               child-index(10)
            =====================*/
            ul li {
              @include child-index(10){
                @include active;
              }
            }

            /*=====================
               child-index(5, backward, 10)
            =====================*/
            ul li {
              @include child-index(5, backward, 10){
                @include active;
              }
            }



      .bloc
        %pre
          %code{:id => "css", :class => "language-css", :contenteditable => "false"}
            :preserve