%section.search-section
  %form.searchbox.sbx-custom{}
    .sbx-custom__wrapper{:role => "search"}
      %input.sbx-custom__input{:autocomplete => "off", :name => "search", :placeholder => "Search in the demo", :required => "required", :type => "search"}/
      %button.sbx-custom__submit{:title => "Submit your search query.", :type => "submit"}
        %svg{"aria-label" => "Search", :role => "img"}
          %use{"xlink:href" => "#sbx-icon-search-15", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %button.sbx-custom__reset{:title => "Clear the search query.", :type => "reset", :id => "clear"}
        %svg{"aria-label" => "Reset", :role => "img"}
          %use{"xlink:href" => "#sbx-icon-clear-5", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
/ Js: focus search input after reset
:javascript
  //<![CDATA[
   document.querySelector('.searchbox [type="reset"]').addEventListener('click', function() {
     this.parentNode.querySelector('input').focus();
   });

  //]]>